<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="Acr.UserDialogs" version="7.0.30" targetFramework="net461" />
	<package id="MvvmCross" version="6.4.1" targetFramework="net461" />
	<package id="MvvmCross.Forms" version="6.4.1" targetFramework="net461" />
	<package id="MvvmCross.Plugin.Messenger" version="6.4.1" targetFramework="net461" />
	<package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
	<package id="Plugin.SegmentedControl.Netstandard" version="4.1.0" targetFramework="net461" />
	<package id="RestSharp" version="106.6.10" targetFramework="net461" />
	<package id="SimpleInjector" version="4.7.1" targetFramework="net461" />
	<package id="SQLitePCLRaw.bundle_green" version="2.0.2" targetFramework="net461" />
	<package id="SQLitePCLRaw.core" version="2.0.2" targetFramework="net461" />
	<package id="SQLitePCLRaw.lib.e_sqlite3" version="2.0.2" targetFramework="net461" />
	<package id="SQLitePCLRaw.provider.dynamic_cdecl" version="2.0.2" targetFramework="net461" />
	<package id="System.Buffers" version="4.4.0" targetFramework="net461" />
	<package id="System.Console" version="4.3.1" targetFramework="net461" />
	<package id="System.Memory" version="4.5.3" targetFramework="net461" />
	<package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
	<package id="System.Reactive" version="4.4.1" targetFramework="net461" />
	<package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net461" />
	<package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
	<package id="System.ValueTuple" version="4.5.0" targetFramework="net461" requireReinstallation="true" />
	<package id="Xam.Plugins.Forms.ImageCircle" version="3.0.0.5" targetFramework="net461" />
	<Package id="Acr.UserDialogs" Version="8.1.0-alpha-0009" />
	<Package id="Microsoft.Extensions.Configuration.UserSecrets" Version="8.0.0" />
	<Package id="Microsoft.Extensions.DependencyInjection" Version="8.0.0" />
	<!--<Package id="Microsoft.Maui.Controls.Compatibility" Version="8.0.3" />
	<Package id="Microsoft.Maui.Controls.Xaml" Version="8.0.3" />
	<Package id="Microsoft.Maui.Core" Version="8.0.3" />
	<Package id="Microsoft.Maui.Dependencies" Version="6.0.553" />
	<Package id="Microsoft.Maui.Extensions" Version="6.0.553" />
	<Package id="Microsoft.Maui.Controls" Version="8.0.3" />-->
</packages>